body { background: #eeeeee; }

#container {
    text-align: center;
    margin: auto;
}

#header {
    width: 100%;
    height: 100px;
    margin: auto;
    background: #444444;
    color: #ffffff;
    text-align: left;
    vertical-align: text-bottom;
}

#header h1 {
    font-family: 'Vollkorn', serif;
    color: #eeeeee;
    font-size: xx-large;
    margin: auto;
    padding-left: 10px;
    padding-top: 5px;
}

#content {
    margin: auto;
    width: 100%;
}


a { text-decoration: none; }

a.title {
    font-family: 'Vollkorn', serif;
    color: #333333;
    text-decoration: none;
    text-align: left;
}

a.title:hover { color: #555555; }

.article_container { text-align: left; }

.article {
    color: #333333;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 75px;
    line-height: 1.8em;
}

.article a {
    text-decoration: none;
    color: #666666
}
.article h1 {
   font-family: 'Vollkorn', serif;
	margin-top: 40px;
	font-size: 35px;
}

.article p { margin-left: 10px; }

.article img {
    display: block;
    margin: auto;
}

.articlemeta {
    color: #777777;
    font-size: small;
    text-align: right;
}


#footer {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    width: 600px;
    margin: auto;
    background: #444444;
}

#footer a { color: #eeeeee }


@media screen and (min-width: 620px) {
	
	#header { width: 600px; }
	
	#content { width: 600px; }
	
	.article {
		font-size: 14px;
		line-height: 1.5em;
	}
	
	.article img { width: 100%; }
}