<div class = "article_container">
<h1><a class = "title" href = "articles/#{filename}">#{title}</a></h1>
<div class = "article">
#{article_text}
</div>
<div class = "articlemeta">
ver&oumlffentlicht am #{dateString}
</div>

</div>
